h3 {text-align: center;}

.header{
    text-align: center;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    background-color: coral;
}

.nav{
    text-align: center;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    color: crimson;
    background-color: blanchedalmond;
    border-inline-color: red;
}

.form {
    position: absolute;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    inline-size: 600px;
    color: turquoise;
    text-align: center;
}
.form input {
    float: unset;
}



