.form-container {
    
        background-color: azure;
        width:  550px;
        height: 450px;
        border: 5px solid rgb(2, 2, 2);
        padding: 50px;
        margin: 50px;
        color: rgb(36, 11, 148);
        margin-left: auto;
        margin-right: auto;

        margin-top: 90px;
        /* display: inline-block; */
}
.BackGC{
    background-color: black;
}
.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-fields {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
}

.form-actions {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.form-actions input {
    margin-right: 10px;
}